@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply m-0px p-0px box-border
    }
    .centralizado{
        @apply justify-center items-center
    }
}
@layer components{
    .btn_inicial{
        @apply flex flex-row font-titulo text-35px font-medium items-center mb-20px 
        leading-[35px] cursor-pointer
    }
    .img_btn_inicial{
        @apply w-50px h-50px rotate-45 mr-5px
    }
    .container_pagina{
        @apply w-full flex flex-col justify-start items-center
        md:flex-row md:justify-center md:items-start
    }
    .volante{
        @apply w-full max-w-[500px] h-[560px] p-5px border border-[#ccc] relative
        md:h-[640px] md:mr-10px overflow-hidden
    }
    .container_conteudos{
        @apply w-full max-w-[500px] md:ml-10px
    }
    .numeros_abertos{
        transition:all 1s;
        margin-left: 0px;
    }
    .numeros_fechados{
         transition:all 1s;
         margin-left: -200%;  
    }

}

